html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

#main {
  flex: 1;
}

#main > .columns {
  min-height: 100%;
}

.sidebar {
  width: 250px;
  background: whitesmoke;
  min-height: 100%;
}

#notification-area {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

#notification-area > div {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}

.section {
  padding-top: 10px;
}
.container {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: space-around;
}

.panel {
  background: lightgrey;
  border-radius: 4px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item {
  width: 100%;
  background-color: white;
  height: 200px;
  justify-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.itemContainer  {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 100%;
  justify-content: space-around;
}

#selectedTodo {
  height: 400px !important;
}